input {
  flex-grow: inherit;
  font-size: inherit;
  font-family: inherit;
  text-align: inherit;
  width: inherit;
  color: inherit;
  line-height: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: inherit;
}
