.container {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1em;

  .sortFilter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  content {
    height: 100%;
  }
}
